.navBar {
    text-align: center;
    border-width: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 1px;
    
    display: block;
    z-index: 1;
    transition: all .5s;
}

.navHeader img{
    padding-top: 10px;
    max-width: 300px;
    margin-bottom: 15px;
}

@media(max-width: 600px) {
    .navHeader img{
        padding-top: 10px;
        max-width: 100px;
    }
}
.navContainer a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
    font-weight: 700;
    color: #0c3531;
}
.navContainer a:hover {
    text-decoration: none;
}

